<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear/>
      <add name="FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python27\python.exe|C:\Users\t-fegu\Documents\DjangoSites\myapp\manage.py fcgi --pythonpath C:\Users\t-fegu\Documents\DjangoSites\myapp --settings myapp.settings" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>